<section class="creemos" id="creemos">
    <div class="container">
        <img class="creemos__logo reveal reveal--scale" src="images/creemos-juntos.svg" alt="Creemos juntos" />
        <p class="creemos__text reveal d1">
            Si tienes una idea en mente o te gustaría conocer más de nuestros servicios, ¡contáctanos!
        </p>
        <div class="country-row reveal d2">
            <button class="country-btn on-dark">
                <img class="flag" src="images/flag-co.svg" alt="" />
                <span class="label">Colombia</span>
                <img class="arrow" src="images/icon-arrow.svg" alt="" />
            </button>
            <button class="country-btn on-dark">
                <img class="flag" src="images/flag-ve.svg" alt="" />
                <span class="label">Venezuela</span>
                <img class="arrow" src="images/icon-arrow.svg" alt="" />
            </button>
        </div>
    </div>
</section>
