<header class="hero">

    <img class="decor decor--curl-l" src="images/curl1.svg" alt="" aria-hidden="true" />

    <img class="decor decor--curl-r" src="images/curl2.svg" alt="" aria-hidden="true" />

    <img class="decor decor--hexagon" src="images/hexagon.svg" alt="" aria-hidden="true" />

    <img class="decor decor--periwinkle-a" src="images/quote-curl.svg" alt="" aria-hidden="true" />

    <img class="decor decor--periwinkle-b" src="images/quote-curl.svg" alt="" aria-hidden="true" />

    <img class="decor decor--quote" src="images/quote-right.svg" alt="" aria-hidden="true" />

    <div class="container hero__inner">

        <div class="hero__brand">

            <img class="hero__intro" src="images/hero-intro.webp?v=2" alt="We are Arrieta Agency" />

            <img class="hero__smile" src="images/smile.svg" alt="Arrieta" aria-hidden="true" />

        </div>

        <p class="hero__headline">

            <span class="top">Creatividad + estrategia personalizada =</span><br />

            <span class="bottom">Los resultados que buscas</span>

        </p>



        <div class="hero__cta">

            <p class="lead">Trabajemos juntos</p>

            <div class="country-row">

                <button class="country-btn on-dark">

                    <img class="flag" src="images/flag-co.svg" alt="" />

                    <span class="label">Colombia</span>

                    <img class="arrow" src="images/icon-arrow.svg" alt="" />

                </button>

                <button class="country-btn on-dark">

                    <img class="flag" src="images/flag-ve.svg" alt="" />

                    <span class="label">Venezuela</span>

                    <img class="arrow" src="images/icon-arrow.svg" alt="" />

                </button>

            </div>

        </div>

    </div>

</header>

