<section class="marcas" id="marcas">
    <div class="container">
        <h2 class="section-title marcas__title reveal">Marcas que han <span class="fun">crecido</span> con nosotros</h2>
    </div>

    <div class="marquee">
        <div class="marquee__track">
            @for (var i = 0; i < 2; i++)
            {
                <img src="images/logo-ea3.png" alt="EA3 Electrónica Arrieta" />
                <img src="images/logo-raresca.png" alt="Raresca Autopartes" />
                <img src="images/logo-premier.png" alt="Premier Agency Service" />
                <img src="images/logo-artisan.png" alt="Artisan Food Produce" />
                <img src="images/logo-lomitos.png" alt="Lomito's Burger" />
                <img src="images/logo-supercarnes.png" alt="Super Carnes El Cuchillo" />
                <img src="images/logo-pastelitos.png" alt="Pastelitos er Zuliano" />
            }
        </div>
    </div>

    <div class="container marcas__cta reveal">
        <p>Haz clic aquí para leer lo que dicen de nosotros en Google</p>
        <div class="country-row">
            <button class="country-btn on-dark">
                <img class="flag" src="images/flag-co.svg" alt="" />
                <span class="label">Colombia</span>
                <img class="arrow" src="images/icon-arrow.svg" alt="" />
            </button>
            <button class="country-btn on-dark">
                <img class="flag" src="images/flag-ve.svg" alt="" />
                <span class="label">Venezuela</span>
                <img class="arrow" src="images/icon-arrow.svg" alt="" />
            </button>
        </div>
    </div>
</section>
