@* Mesh Figma: bg1 (58.4 %) arriba + bg2 (41.6 %) abajo, proporcional al contenido *@
<div class="page-mesh" aria-hidden="true">
    <img class="page-mesh__slice page-mesh__slice--top" src="@Assets["images/mesh-bg1.png"]" alt="" width="1920" height="5709" decoding="async" fetchpriority="high" />
    <img class="page-mesh__slice page-mesh__slice--bottom" src="@Assets["images/mesh-bg2.png"]" alt="" width="1920" height="4070" decoding="async" />
    <div class="page-mesh__noise"></div>
</div>
